* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    rgba(150, 115, 158, 0.8),
    rgba(100, 113, 128, 0.7)
  );
  color: #fff;
}

.container {
  margin-top: 2rem;
  box-shadow: 2px 3px 2px;
  margin: 2rem auto;
  max-width: 60%;
  background-color: #fff;
  color: #000;
}

.container h2 {
  padding: 15px 2rem;
}

ul {
  list-style: none;
  padding: 15px 2rem;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

li label {
  cursor: pointer;
}

.next {
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  background-color: rgb(101, 122, 22);
  width: 100%;
  cursor: pointer;
  text-align: center;
}
